header h1 {
    font-size: 50px;
}

.form-class {
    border: 2px solid black;
    padding: 20px;
}

.form-group {
    background-color: red;
    color: black;
    padding: 10px 20px;
    width: 450px;
    border: 2px double black;
    margin: 5px;
    font-weight: bold;
}

#why {
    margin-top: 10px;
    height: 100px;
    width: 400px;
}