:root {
    --accent: #4dcaff;
    --grey: #4a545c;
    --trasparantgrey: #4a545cf0;
}
*{
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

/* ---------------------header--------------------- */

.wrapper {
    width: 60%;
    margin: 0 auto;
}
header {
    background-color: var(--trasparantgrey);
    text-transform: uppercase;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
}
header h1 {
    font-size: 1.5rem;
    letter-spacing: 1px;
}
header p {
    font-size: 30px;
    color: white;
}
.colored {
    color: var(--accent);
}

header nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border: 3px solid transparent;
}
nav a:hover {
    border: 3px solid var(--accent);
    color: var(--accent);
}

.hero {
    text-align: center;
    padding: 250px 0;
}

.hero p {
    background-color: var(--trasparantgrey);
    margin: 5px;
    font-size: 2.5rem;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 100;
}

.herotxt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.heroheader {
    background-image: url("../img/Hero.png");
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.services {
    background-color: var(--accent);
    height: 400px;
}

.title {
    padding-top: 30px;
    height: 100px;
    display: flex;
    align-items: center;
}

.wrapper h2{
    text-transform: uppercase;
    font-weight: 100;
}

.underline{
    border-bottom: 1px solid white;
}

.underline2{
    border-bottom: 1px solid black;
}

.service-cards {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.service-card h3 {
    font-size: 20px;
    padding: 10px 0px;
    text-transform: uppercase;
}

.service-card p {
    font-size: 12px;
}

.testimonials {
    height: 300px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: start;
}

.testimonial {
    padding: 40px 0px;
    font-size: 25px;
    font-weight: 100;
}

.author {
    color: var(--accent);
    font-weight: 700;
    font-size: 12px;
}

.quota img {
    width: 35px;
    position: absolute;
    padding-left: 75%;
    padding-top: 50px;
}

.contact {
    background-image: url("../img/Contact_photo.png");
    background-position: center;
    background-size: cover;
    font-size: 0.7rem;
}

#contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formgroup {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.formgroup label {
    text-transform: uppercase;
    padding-bottom: 2%;
    font-weight: 600;
}

.formgroup input {
    background-color: transparent;
    border: 2px solid white;
    width: 80%;
    height: 40px;
    margin-bottom: 4%;
}

.slogan, .adress {
    padding: 4% 4% 4% ;
    line-height: 20px;
}

.wide{
    grid-column: span 2;
}

.wide textarea {
    background-color: transparent;
    border: 2px solid white;
    margin-bottom: 4%;
}

.formgroup .submit {
    background-color: var(--accent);
    color: white;
    border: 1px solid var(--accent);
    width: 60%;
    height: 50px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
}

footer {
    background-color: #2a3237;
    height: 150px;
    display: flex;
}

footer .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

footer p {
    color: var(--grey);
}

.footernav {
    margin-right: 73%;
}

a {
    text-decoration: none;
    color: var(--grey);
}