:root {
    --offWhite: #efd0caff;
    --lightGrey: #c1bcacff;
    --lightGreyTrans: #c1bcaccc;
    --grey: #979b8dff;
    --greyTrans: #979b8d40;
    --brown: #784F41;
    --brownTrans: #784F41cc;
    --orange: #FB6107;
    --orangeTrans: #FB6107b3;
}

*{
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Lato', sans-serif;
    background-image: url("../img/GetImage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    width: 72%;
    margin: 0 auto;
}

/* -------------------header------------------- */

header {
    background-color: var(--brownTrans);
}
header .wrapper {
    padding-top: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
}

.logo{
    display: flex;
}

.logo i {
    color: var(--orange);
    padding-right: 2px;
}

.logo h1 {
    text-transform: uppercase;
    color: var(--orange);
    font-size: 26px;
}

header nav {
    width: 49%;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: var(--orange);
    text-decoration: none;
    padding: 10px 55px;
    font-size: 12px;
}

/* -------------------main------------------- */

.nat{
    background-color: var(--orangeTrans);
    height: 325px;
}

.nat h2 {
    text-transform: uppercase;
    font-size: 18px;
    background-color: var(--offWhite);
    color: var(--orange);
    padding: 20px;
    border-radius: 15px;
    margin: 25px;
}

.nat .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.lesson-cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.lesson-card {
    color: var(--offWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 16%;
    margin: 0 105px 6rem;
}

.lesson-card i {
    padding-bottom: 5px;
}

.lesson-card h3 {
    text-transform: uppercase;
    font-size: 12px;
}

.lesson-card p {
    text-align: center;
    font-size: 11px;
}

/* -------------------form------------------- */

.form {
    color: var(--offWhite);
    margin-bottom: 30px;
}

.formtxt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form h2 {
    text-transform: uppercase;
    background-color: var(--orangeTrans);
    padding: 20px;
    border-radius: 15px;
    font-size: 17px;
    margin: 30px;
}

.form button {
    background-color: var(--orange);
    font-size: 9px;
    padding: 10px 32px;
    margin-bottom: 2rem;
    color: var(--offWhite);
}

form {
    display: none;
    background-color: var(--orangeTrans);
    border: 2px solid var(--offWhite);
    border-radius: 20px;
}

.contact {
    font-size: 0.7rem;
}

.formgroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px;
}

.wide {
    display: flex;
    flex-direction: column;
}

.formgroup label {
    text-transform: uppercase;
    font-weight: 600;
}

.formgroup input {
    background-color: var(--brownTrans);
    border: 2px solid var(--offWhite);
}

.formgroup textarea {
    background-color: var(--brownTrans);
    border: 2px solid var(--offWhite);
}

.formgroup input[type="submit"] {
    background-color: var(--offWhite);
    color: var(--orange);
    width: 35%;
    padding: 10px;
    font-size: 20px;
}

/* -------------------footer------------------- */

footer {
    background-color: var(--brownTrans);
}
footer .wrapper {
    padding-top: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
}

footer .info {
    color: var(--orange);
    text-align: center;
    font-size: 12px;
}