*{
	padding: 0;
}
body{
	text-align: center;
	background-color: #CAFFB9;
}
header{
	background-color: #2E4057;
	padding: 50px;
}
header h1 {
	color: #CAFFB9;
	margin-bottom: 15px;
}
header a{
	color: #CAFFB9;
	text-decoration: none;
	border: 1px solid #CAFFB9;
	padding: 10px 20px
}
img {
	width: 350px;
}
main h2, p {
	color: #2E4057;
}
h2 {
	border-bottom: 5px double #808080;
	margin-top: 20px;
	padding: 2px;
}
p {
	padding-top: 5px;
}
ul {
	padding-left: 30px;
	list-style: inside;
}
li {
	padding-bottom: 5px;
}
footer {
	background-color: #2E4057;
	color: #CAFFB9;
	text-align: right
}

.hobby{
	border: 1px double grey;
	width: 300px;
	background-color: #C6EBBE;
	padding: 10px;
}
